/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Zen+Kaku+Gothic+Antique:wght@300;900;500&display=swap');


body{
    background-color: #ddd;
}
.navbar{
    background-color: #333333;
}
.nav-link-colors{
    color: #ddd !important; 
}
.nav-link-colors:hover{
    color: rgb(241, 93, 93) !important;
    opacity: 0.9 !important;
}

.fa-home{
    padding-top: 14px;
    padding-right: 8px;
}
.li-link{
    padding-bottom: 4px;    
}
.li-link:last-child{
    padding-bottom:15px;
}
.link{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.navbarDropdown1{
    position: relative;
}
.navbarDropdown11{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 200px;
    list-style-type: none;
    transition: 0.3s ease-in-out all;
    border-radius: 5px;
}

.navbarDropdown1:hover .navbarDropdown11{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.wrapper{
    z-index: -10;
}
/*-----------------------------------*/

.latest{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    padding-left: 38%;
}
.col-44 img{
    width: 354px;
    height: 305px;
}
.col-44-text h2{
    font-size: 25px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 500;
}
.col-44-text p{
    font-size: 14px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.read-btn{
    width: 240px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
}
.read-btn:hover{
    width: 280px;
    height: 60px;
    transform: scale(1.1);
}

/* ------------------------------------- */
.read-btn-2{
    width: 194px;
    height: 60px;
    transition: 0.3s;
}
.read-btn-2:hover{
    transform: scale(1.2);
}
.read-btn-3{
    width: 290px;
    height: 60px;
    transition: 0.3s;
}
.read-btn-3:hover{
    transform:scale(1.2)
}



















